<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" ontent="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
   
    <meta name="author" content="">

    <title>DeepNF</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Custom 
styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">DeepNF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/About">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/machine1">Machine 1</a>
            </li>
            <li>
              <a class="nav-link" href="/machine2">Machine 2</a>
            </li>
            <li>
              <a class="nav-link" href="/machine3">Machine 3</a>
            </li>
                        <li>
              <a class="nav-link" href="/visualization">Visualization</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- An element to toggle between password visibility -->
    <div class="page-header-actions" data-toggle="buttons" role="group">
      <label class="btn btn-outline btn-primary active">
        <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB"> Auto Refresh
      </label>
    </div>

 <!-- Page Content -->
        <% var counter = 0 %>
    <% if (content_data != {} && content_data.length > 0) { %>
    <% for (var filename in content_data) { %>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <table class="table" id="myTable">
              <h1 class="mt-5"> DeepNF Machine 1 <%= filename  %> Logs </h1>
              <thead>
                <tr>
                  <th scope="col">Time</th>
                  <th scope="col">PacketId</th>
                  <th scope="col">Function</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              <% for (var element in content_data[filename]) { %>
                <tr>
                  <td> <%= content_data[filename][element].time %> </td>
                  <td> <%= content_data[filename][element].packetID %> </td>
                  <td> <%= content_data[filename][element].function %> </td>
                  <td> <%= content_data[filename][element].action %> </td>
                </tr>
              <% } %>
              </tbody>
    <% } %>
    <% } else {%>
         <div class="container">
      <div 
class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">DeepNF Machine 1 
Logs</h1>
          <table class="table" id="myTable">
            <thead>
              <tr>
                
<th scope="col">Time</th>
                <th scope="col">PacketId</th>
                <th 
scope="col">Function</th>
                <th scope="col">Action</th>
              </tr>
            
</thead>
            <tbody>
            </tbody>
          </table>
        </div>
      
</div>
    </div>
    <% } %>
<!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"> </script>

    <script type="text/javascript">
      var data = <%- JSON.stringify(content_data);%>
      $(document).ready(function(){
        $('.table').DataTable({
        });
      });

      var reloading;
      // Code for autocomplete button from https://stackoverflow.com/questions/11405738/javascript-auto-refresh-toggle-checkbox
      function checkReloading() {
        if (window.location.hash=="#autoreload") {
          reloading=setTimeout("window.location.reload();", 5000);
          document.getElementById("reloadCB").checked=true;
        }
      }

      function toggleAutoRefresh(cb) {
        if (cb.checked) {
          window.location.replace("#autoreload");
          reloading=setTimeout("window.location.reload();", 5000);
        } else {
          window.location.replace("#");
          clearTimeout(reloading);
        }
      }

      window.onload=checkReloading;
    </script>
  </body>
</html>
